<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <script src="static/js/parametreAuto.js"></script>

    </head>
    <body>
        <h1>Ici, vous pouvez régler les paramétres pour une ouverture automatique de la fenêstre. (pas encore)</h1>
        <h1>Ouverture lorsque le seuil est dépassé :</h1>
        
        <div>
            Aller à cette page :
            <a href="http://127.0.0.1:8000/action" > 
                <button>Action</button>
            </a>
            
		</div>
    </body>
</html>